.container{
    display: flex;
}
.content{
    border: 1px solid blue;
    margin: 3px 20px;
    padding: 10px;
}
@media screen and (max-width: 400px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .content{
        margin: 10px 5px;
        width: 90vw;

    }
    .content-2{
        display: none;
    }
}
@media (min-width:401px)and (max-width: 726px){
   body{
    background-color: red;
   }
}