.container{
    display: flex;
}
.content{
    border: 1px solid blue;
    margin: 5px 15px;
    padding: 0px 5px;
}
.content-2{
    border: 1.5px solid green;
    background-color: aqua;
}
.position-static{
    position: static;
}
.position-relative{
    position: relative;
    top: 30px;
    left: 45px;
}
.position-absolute{
    position: absolute;
    /* bottom: 30px; */
}
.position-sticky{
    position: sticky;
    top: 0;
}
/* .text{
    width: 3%;
} */

.position-fixed{
    position: fixed;
    top: 20px;
    right: 40px;
    /* width: 38px; */
}